*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(https://static.vecteezy.com/system/resources/previews/006/140/728/non_2x/purple-blue-watercolor-background-pastel-mottled-border-texture-and-blurred-grunge-design-in-old-vintage-backgrounds-free-vector.jpg);
}